.wp-block-button.is-style-outline
	> .wp-block-button__link:not(.has-text-color, .has-background):hover {
	background-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, transparent));
	color: var(--wp--preset--color--base);
	border-color: var(--wp--preset--color--contrast-2, var(--wp--preset--color--contrast, currentColor));
}

/* Admin CSS */
.components-circular-option-picker__option-wrapper:has(button[aria-label*=Divider]) {
	flex-basis:100%;
	width:100%;
	height:0;
	margin:0;
	border:0;
	transform:none;
	transition:none
}

.components-circular-option-picker__option-wrapper:has(button[aria-label*=Divider])::before,
.components-circular-option-picker__option-wrapper:has(button[aria-label*=Divider])::after,
.components-circular-option-picker__option-wrapper:has(button[aria-label*=Divider]) button,
.components-circular-option-picker__option-wrapper:has(button[aria-label*=Divider]) svg {
	display:none
}
