/**
 * Molecule: Contact Info
 */

.contact-info__title {
    margin-bottom: 4px;
    font-size: var(--wp--preset--font-size--regular);
    font-weight: 700;
    color: var(--wp--preset--color--base);
}

.contact-info__subtitle {
    margin-bottom: 4px;
    font-size: var(--wp--preset--font-size--regular);
    font-weight: 600;
    color: var(--wp--preset--color--base);
}

.contact-info__block {
    margin-bottom: var(--wp--preset--spacing--40);
}

.contact-info__item {
    margin-bottom: 4px;
    font-size: var(--wp--preset--font-size--small);
    color: #bfcfd3;
}

.contact-info__link {
    color: var(--wp--preset--color--base);
    font-weight: 700;
    transition: color 0.2s ease;
}

.contact-info__link--email {
    text-decoration: underline;
}

.contact-info__link:hover,
.contact-info__link:focus {
    color: var(--wp--preset--color--secondary);
}

.contact-info__schedule {
    margin: 0 0 var(--wp--preset--spacing--50);
    font-size: var(--wp--preset--font-size--small);
    color: #bfcfd3;
}

.contact-info__closed {
    font-style: italic;
}
