/**
 * Molecule: Footer Navigation Column
 */

.nav-footer-column {
    margin-bottom: var(--wp--preset--spacing--40);
}

.nav-footer-column__title {
    margin-bottom: 4px;
    font-size: var(--wp--preset--font-size--regular);
    font-weight: 700;
    color: var(--wp--preset--color--base);
    cursor: default;
}

.nav-footer-column__list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.nav-footer-column__list a {
    display: block;
    font-size: var(--wp--preset--font-size--small);
    color: #bfcfd3;
    text-decoration: none;
}

.nav-footer-column__list a:hover,
.nav-footer-column__list a:focus {
    color: var(--wp--preset--color--secondary);
}

.nav-footer-column__list .current-menu-item > a {
    color: var(--wp--preset--color--secondary);
}
