/**
 * Atom: Payment Icon
 */

.payment-icon {
    display: inline-block;
}

.payment-icon__img {
    display: block;
    width: 40px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.payment-icon__img:hover {
    opacity: 1;
}
