/**
 * Atom: Search
 */

.search-modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.search-modal.active {
    display: flex;
}

.search-modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
}

.search-modal__content {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    min-width: 478px;
}

.search-modal__close {
    position: absolute;
    top: -38px;
    right: -8px;
    font-size: 28px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.search-modal .search-form {
    width: 100%;
    height: 50px;
    border-radius: 36px;
    overflow: hidden;
    display: flex;
}

.search-modal .search-form label {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.search-modal .search-form .search-field {
    padding: 12px 24px;
    border: none;
    width: 100%;
    height: 100%;
}

.search-modal .search-form .search-submit {
    margin-left: 0;
    background-color: #C66E65;
    color: white;
    outline: none;
    border: none;
    height: 100%;
    padding: 18px 26px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .search-modal__content {
        min-width: 300px;
        width: 80%;
    }
}